<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.UI_familyBook">
        <activity
            android:name=".TransactionItem"
            android:exported="false" />
        <activity
            android:name=".ChildHomeActivity"
            android:exported="false" />
        <activity
            android:name=".ParentHomeActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterFormActivity"
            android:exported="false" /> <!-- 회원가입 -->
        <activity
            android:name=".RegisterSelectActivity"
            android:exported="false" /> <!-- 부모/자녀 선택 -->
        <activity
            android:name=".LoginActivity"
            android:exported="false" /> <!-- 앱 시작점, 로그인 -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>